@charset "utf-8";
body {
	background-image: url(../img/1.jpg);
}
.title_1 {
	font-family: "叶根友毛笔行书2.0版";
	font-size: 24px;
	color: rgb(102,0,255);
	text-decoration: none;
	height: 50px;
	width: 100px;
	float: left;
	font-weight: bold;
	margin-top: 50px;
	margin-left: 100px;
}
.title_2 {
	font-family: "叶根友毛笔行书2.0版";
	font-size: 24px;
	font-weight: bold;
	color: rgb(102,51,153);
	height: 50px;
	width: 100px;
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}
a {
	text-decoration: none;
	font-family: "叶根友毛笔行书2.0版";
	font-size: 24px;
}
a:hover {
	color: rgb(51,0,102);
}
